html, body, #map {
  overflow:hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 300;
  color: #434343;
}

h1,h2,h3,h4{
    margin : 2px;
}
.toplayer{
    border-style:ridge;
    border-width:4px;
    border-color:lightblue;
}

#viewControl {
    -moz-border-radius-topleft: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    padding: 4px;
    box-shadow: 5px 5px 5px #888888;
    position: absolute;
    background: white;
    top: -2px;
/*    height: 90px;*/
    left: -2px;
    opacity: 0.74;
/*    width: 340px;*/
}

#viewControlInner {
    padding: 4px;
    position: relative;
    float: right;
    top:0;
    right:0;
}

#search_container {
    -moz-border-radius-bottomright: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    padding: 4px;
    box-shadow: 5px 5px 5px #888888;
    position: absolute;
    background: transparant;
    top: -2px;
    left: 450px;
    right: 450px;
    opacity: 1;
}

#search_container_bg {
    -moz-border-radius-bottomright: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    padding: 4px;
    position: absolute;
    background: white;
    top: -2px;
    left: 450px;
    right: 450px;
    opacity: 0.7;
    height: 48px;
}

#search_button{
    float: right;
}

#timeWindowBG {
    -moz-border-radius-topright: 25px 50px;
    border-top-right-radius: 25px 50px;
    padding: 4px;
    position: absolute;
    background: white;
    bottom: -2px;
    left: -2px;
    opacity: 0.7;
    height: 205px;
    width: 800px;
}

#waitWindow {
    -moz-border-radius-topright: 25px 50px;
    -moz-border-radius-bottomright: 25px 50px;
    -moz-border-radius-topleft: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-top-right-radius: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    position: absolute;
    background: white;
    left:        50%;        /* Start with top left in the center */
    top:         50%;
    margin-left: -50px;     /* Shift over half the width */
    margin-top:  -50px;      /* Shift up half the height */
    opacity: 0.7;
    height: 100px;
    width: 100px;
}

#timeWindow {
    -moz-border-radius-topright: 25px 50px;
    border-top-right-radius: 25px 50px;
    padding: 4px;
    box-shadow: 5px 5px 5px #888888;
    position: absolute;
    background: transparant;
    bottom: -2px;
    left: -2px;
    opacity: 1;
    width: 800px;
}

#infoWindowBG {
    -moz-border-radius-topleft: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    padding: 4px;
    position: absolute;
    background: white;
    top: -2px;
    bottom: -2px;
    right: -2px;
    opacity: 0.7;
    width: 350px;
}

#infoWindow {
    -moz-border-radius-topleft: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    padding: 4px;
    box-shadow: 5px 5px 5px #888888;
    position: absolute;
    background: transparant;
    top: -2px;
    bottom: -2px;
    right: -2px;
    opacity: 1;
    width: 350px;
}

#infoWindow svg {
    width: 340px;
}

#helpWindow {
/*    -moz-border-radius-topleft: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;*/
    -moz-border-radius-topright: 25px 50px;
    -moz-border-radius-bottomright: 25px 50px;
/*    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;*/
    border-top-right-radius: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    padding: 4px;
    box-shadow: 5px 5px 5px #888888;
    position: absolute;
    background: #EEE;
    top: 160px;
    bottom: 80px;
/*    right: 300px;*/
    left: 0px;
    width: 400px;
    opacity: 0.94;
    overflow-y: scroll;
    direction: rtl;
}

.center, .center svg {
    position: absolute;
}

.center svg {
    width: 60px;
    height: 20px;
    padding-right: 200px;
    font: 10px sans-serif;
}

.center circle {
    fill: steelblue;
    stroke: black;
/*    stroke-width: 1.5px;*/
}

.center locality {
    fill: steelblue;
    stroke: black;
}


.center text{
    fill: black;
}

.center text.base{
    stroke: white;
    stroke-width: 1px;
}

.creators svg{
    position: absolute;
    top: -4000px;
    left: -4000px;
    width: 8000px;
    height: 8000px;
    opacity: 1;
}

.objects svg{
    position: absolute;
    top: -4000px;
    left: -4000px;
    width: 8000px;
    height: 8000px;
    opacity: 1;
}

.objects div{
    top: 0px;
    left: 0px;
}

div.mouseover{
	position: absolute;
	background: black;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #131313;
	color: white;
	padding: 5px 8px;
	top: 0px;
	left: 0px;
/*	margin-top: 10px;*/
	margin-left: 10px;
	display: none;
}

#map_picker select {
    background: transparent;
    width: 280px;
    margin-left: -3px;
    padding: 5px;
    padding-left: 8px;
    font-size: small;
    color: black;
    /*font-weight: 100;*/
    border: 1px solid white;
    height: 34px;
    -webkit-appearance: none;
} 

#map_picker{
    width: 250px;
    height: 34px;
    overflow: hidden;
    background: url(./static/imgs/arrow.png) no-repeat 96% #efefef;
}

div.about{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

div.click_tip{
    border: 2px;
    border-color: lightblue;
    border-style: ridge;
    padding: 4px;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    position: absolute;
    background: rgba(0,0,0,0.8);
}